* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #E3EBFF;
    padding: 20px;
}

.sidebar h2 {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    padding: 10px 0;
    cursor: pointer;
    color: #1e484c;
}

.sidebar li:hover {
    background-color: #ddd;
}

.content {
    width: 80%;
    padding: 20px;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input,
select,
button {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
}